{% extends 'core/base.html' %}

{% block title %}
    {% block dashboard_title %}{% endblock dashboard_title %}
{% endblock title %}

{% block content %}
<div class="px-2 mt-2">
    <div class="shadow-sm p-3 bg-body-tertiary mb-3">
        <nav class="nav bg-dark mb-2">
            <a class="nav-link text-uppercase text-light" href="{% url 'dashboard:dashboard' %}"><i class="bi bi-person-circle"></i> {{ request.user.username }}</a>
            <a class="nav-link text-uppercase text-light" href="{% url 'conversation:inbox' %}"><i class="bi bi-inbox"></i> Inbox</a>
            <a class="nav-link text-uppercase text-light" href="{% url 'dashboard:items' %}"><i class="bi bi-collection"></i> Items</a>
            <a class="nav-link text-uppercase text-light" href="{% url 'cart:cart' %}"><i class="bi bi-cart"></i> Cart</a>
            <a class="nav-link text-uppercase text-light" href="{% url 'cart:orders' %}"><i class="bi bi-cart-check"></i> Orders</a>
        </nav>
        {% block dashboard_content %}{% endblock dashboard_content %}
    </div>
</div>
{% endblock content %}